.card-background-page{
    ion-card{
        position: relative;
        text-align: center;
    }
    .card-title{
        position: absolute;
        top:36%;  //위로부터 몇퍼센트 떨어져있는지
        font-size:2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle{
        font-size:1.0em;
        position: absolute;
        top:52%;
        width: 100%;
        color: #fff;
    }
}   